/* EventList.module.css */

.eventListLoading {
  background-color: #2f549d;
  padding: 15px;
  /* borderTopRightRadius: 12px; */
  /* borderBottomRightRadius: 12px; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 17vw;
  color: white;
  font-size: 1.2em;
}

.eventListContainer {
  background-color: #2f549d;
  padding: 15px;
  /* borderTopRightRadius: 12px; */
  /* borderBottomRightRadius: 12px; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 90vh;
  width: 17vw;
  overflow-y: auto;
}

.eventListTitle {
  font-size: 2em;
  color: white;
  margin: 5px;
}

.eventListNoEvents {
  color: #ccc;
  text-align: center;
}

.eventListButton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #f7f9fc;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 12px;
  cursor: pointer;
  margin-bottom: 4px;
}

.eventListButton:hover {
  background: #dadbde;
  transition: 0.4s;
}

.eventListActivity {
  font-weight: bold;
  color: #2f549d;
  margin-bottom: 0px;
  font-size: 1.4em;
}

.eventListDate {
  font-weight: bold;
  color: #00275e;
  margin-bottom: 4px;
}

.eventListDetails {
  color: #00275e;
  text-align: left;
}

@media (max-width: 768px) {
  .eventListContainer {
    background-color: #2f549d;
    padding: 10px 6px 10px 6px;
    box-shadow: none;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    min-height: 0;
    width: 100vw;
    overflow-y: auto;
    position: relative;
    flex-grow: 1;
    border-radius: 0;
    margin-top: 0;
  }
  .eventListTitle {
    font-size: 1.1em;
    color: white;
    margin: 4px 0 4px 0;
    text-align: center;
  }
  .eventListButton {
    width: 98vw;
    font-size: 1em;
    padding: 10px;
    margin-bottom: 3px;
  }
}
