.popupBox {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.18);
  padding: 2rem 2rem 2rem 2rem;
  width: 65vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: auto;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  color: #2f549d;
  margin-top: 0.7rem;
  margin-bottom: 1rem;
}

.subtitle {
  text-align: center;
  color: #00275e;
  font-size: 1.6rem;
  font-weight: 700;
}

.phoneNumber {
  font-size: 16px;
  text-align: center;
  color: #00275e;
  font-size: 3rem;
  font-weight: 700;
}

.description {
  font-size: 16px;
  margin-top: 1.6rem;
  text-align: left;
  color: #00275e;
  font-size: 1.2rem;
  font-weight: 700;
}

.continueButton {
  background: #2f549d;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 28px;
  font-weight: 600;
  font-size: 1.1em;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 1rem;
}

/* Mobile*/
@media (max-width: 1024px) {
  .popupBox {
    width: 98vw;
    height: auto;
    min-height: 60vh;
    max-height: 95vh;
    padding: 1rem 0.5rem 1.5rem 0.5rem;
    border-radius: 10px;
  }
  .title {
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
  }
  .subtitle {
    font-size: 1.1rem;
    padding: 0 0.5rem;
  }
  .phoneNumber {
    font-size: 2rem;
    padding: 0 0.5rem;
  }
  .description {
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0 0.5rem;
  }
  .continueButton {
    width: 90vw;
    font-size: 1em;
    padding: 10px 0;
    margin-bottom: 0.5rem;
  }
}
