.legendContainer {
  position: absolute;
  background: rgba(255, 255, 255, 0.97);
  right: 20px;
  top: 20px;
  z-index: 200;
  height: auto;
  width: auto;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 12px;
  font-size: 1rem;
  color: #222;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.legendRow {
  display: flex;
  align-items: center;
  gap: 10px;
}

.legendIconArrest {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: rgba(255, 0, 0);
  border-radius: 50%;
  border: 2px solid black;
}

.legendIconAttempted {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: rgb(255, 143, 6);
  border-radius: 50%;
  border: 2px solid black;
}

.legendIconPresence {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: rgb(241, 255, 138);
  border-radius: 50%;
  border: 2px solid black;
}

/* Mobile */
@media (max-width: 768px) {
  .legendContainer {
    position: absolute;
    background: rgba(255, 255, 255, 0.97);
    right: 0.4rem;
    top: 3rem;
    height: 11.7rem;
    width: 8rem;
    padding: 0.5rem 0rem 0.5rem 0.5rem;
    font-size: 0.75rem;
  }
}
